@model CsharpKioskDemoDotnet.Invoice.Application.Features.Tasks.GetInvoiceDtoGrid.InvoiceGridDto
<!DOCTYPE html>
<html class="h-full" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>@Model.Design.Hero.Title</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="all"/>
    <script src="/js/invoiceSnackBar.js"></script>
    <script src="/js/invoiceGrid.js"></script>
    <style type="text/tailwindcss">
        @@layer components {
            .grid-status-new {
                @@apply bg-gray-100 text-gray-800;
            }
    
            .grid-status-paid {
                @@apply bg-yellow-100 text-yellow-800;
            }
    
            .grid-status-confirmed {
                @@apply bg-blue-100 text-blue-800;
            }
    
            .grid-status-complete {
                @@apply bg-green-100 text-green-800;
            }
    
            .grid-status-expired, .grid-status-invalid {
                @@apply bg-red-100 text-red-800;
            }
        }
    </style>
</head>
<body class="h-full">
@await Html.PartialAsync("../Shared/Snackbars.cshtml")

<div class="min-h-full">
    <nav class="border-b border-gray-200 bg-white">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 justify-between">
                <div class="flex">
                    <div class="flex flex-shrink-0 items-center">
                        <img class="block h-8 w-auto lg:hidden" src="@Model.Design.Logo" alt="Your Company"/>
                        <img class="hidden h-8 w-auto lg:block" src="@Model.Design.Logo" alt="Your Company"/>
                    </div>
                    <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
                        <a href="/invoices"
                           class="border-indigo-500 text-gray-900 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"
                           aria-current="page">
                            Invoices
                        </a>
                    </div>
                </div>
                <div class="-mr-2 flex items-center sm:hidden">
                    <!-- Mobile menu button -->
                    <button type="button"
                            class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                            aria-controls="mobile-menu" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <!-- Menu open: "hidden", Menu closed: "block" -->
                        <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                        </svg>
                        <!-- Menu open: "block", Menu closed: "hidden" -->
                        <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="sm:hidden" id="mobile-menu">
            <div class="space-y-1 pt-2 pb-3">
                <a href="/invoices"
                   class="bg-indigo-50 border-indigo-500 text-indigo-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium"
                   aria-current="page">
                    Invoices
                </a>
            </div>
        </div>
    </nav>

    <main>
        <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
            <!-- Replace with your content -->
            <div class="px-4 py-8 sm:px-0">
                <header>
                    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                        <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900">Invoices</h1>
                    </div>
                </header>
                <div class="px-6 lg:px-8">

                    <div class="mt-8 flow-root">
                        <div class="-my-2 -mx-6 overflow-x-auto lg:-mx-8">
                            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                                <table class="min-w-full divide-y divide-gray-300">
                                    <thead>
                                    <tr>
                                        <th scope="col"
                                            class="py-3.5 pl-6 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
                                            ID
                                        </th>
                                        <th scope="col"
                                            class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">
                                            Price
                                        </th>
                                        <th scope="col"
                                            class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">
                                            Description
                                        </th>
                                        <th scope="col"
                                            class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">
                                            Status
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="divide-y divide-gray-200">
                                    @foreach (var item in Model.Grid.Content)
                                    {
                                        <tr onclick="window.location.href = '/invoices/' + @item.Id" class="cursor-pointer" data-id="@item.Id">
                                            <td class="whitespace-nowrap py-4 pl-6 pr-3 text-sm font-medium text-gray-900 sm:pl-0">@item.BitPayId</td>
                                            <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">$@item.Price</td>
                                            <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">@item.Description</td>
                                            <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500 status">
                                                <span class="inline-flex items-center rounded-full px-3 py-0.5 text-sm font-medium capitalize grid-status-@item.Status">@item.Status</span>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6"
                     aria-label="Pagination">
                    <div class="hidden sm:block">
                        <p class="text-sm text-gray-700">
                            Showing
                            <span class="font-medium">@Model.Grid.FirstPageItemIndex</span>
                            to
                            <span class="font-medium">@Model.Grid.LastPageItemIndex</span>
                            of
                            <span class="font-medium">@Model.Grid.TotalElements</span>
                            results
                        </p>
                    </div>
                    <div class="flex flex-1 justify-between sm:justify-end">
                        <a href="/invoices?page=@Model.Grid.PreviousPageNumber"
                           class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">
                            Previous
                        </a>
                        <a href="/invoices?page=@Model.Grid.NexPageNumber"
                           class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">
                            Next
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </main>
</div>
<script type="text/javascript">
    new UpdateStatusSse().execute();
</script>
</body>
</html>