@model CsharpKioskDemoDotnet.Invoice.Application.Features.Tasks.GetInvoice.InvoiceViewDto

<!DOCTYPE html>
<html class="h-full" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>@Model.Design.Hero.Title</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="all"/>
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    <script src="/js/invoiceSnackBar.js"></script>
    <script src="/js/invoiceView.js"></script>
    <style type="text/tailwindcss">
        @@layer components {
            .grid-status-new {
                @@apply bg-gray-100 text-gray-800;
            }

            .grid-status-paid {
                @@apply bg-yellow-100 text-yellow-800;
            }

            .grid-status-confirmed {
                @@apply bg-blue-100 text-blue-800;
            }

            .grid-status-complete {
                @@apply bg-green-100 text-green-800;
            }

            .grid-status-expired, .grid-status-invalid {
                @@apply bg-red-100 text-red-800;
            }
        }
    </style>
</head>
<body class="h-full">
@await Html.PartialAsync("../Shared/Snackbars.cshtml")

<div class="min-h-full">
    @await Html.PartialAsync("../Shared/NavBar.cshtml", (object)Model.Design)

    <main>
        <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
            <!-- Replace with your content -->
            <div class="px-4 py-8 sm:px-0">
                <header>
                    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                        <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900">Invoice Details</h1>
                    </div>
                </header>
                <div class="px-6 lg:px-8">

                    <div class="mt-8 flow-root">
                        <div class="-my-2 -mx-6 overflow-x-auto lg:-mx-8">
                            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                                <div class="overflow-hidden bg-white shadow sm:rounded-lg">
                                    <div class="px-4 py-5 sm:px-6">
                                        <h3 class="text-lg font-medium leading-6 text-gray-900">General Information</h3>
                                    </div>
                                    <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
                                        <dl class="sm:divide-y sm:divide-gray-200">
                                            <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:px-6">
                                                <dt class="text-sm font-medium text-gray-500">ID</dt>
                                                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                                    <span>@Model.Invoice.BitPayId</span>
                                                    <span class="inline-flex items-center rounded-full px-3 py-0.5 text-sm font-medium capitalize status grid-status-@Model.Invoice.Status">@Model.Invoice.Status</span>
                                                </dd>
                                            </div>
                                            <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:px-6">
                                                <dt class="text-sm font-medium text-gray-500">Price</dt>
                                                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                                    <span>$</span>
                                                    <span>@Model.Invoice.Price</span>
                                                </dd>
                                            </div>
                                            <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:px-6">
                                                <dt class="text-sm font-medium text-gray-500">Date</dt>
                                                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">@Model.Invoice.CreatedDate</dd>
                                            </div>
                                            <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:px-6">
                                                <dt class="text-sm font-medium text-gray-500">Order ID</dt>
                                                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">@Model.Invoice.BitPayOrderId</dd>
                                            </div>
                                        </dl>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
</div>
<script type="text/javascript">
    new UpdateStatusSse(@Model.Invoice.Id).execute();
</script>
</body>
</html>